{
  "parser": "babel-eslint",
  "extends": "eslint-config-airbnb",
  "plugins": ["react", "jsx-a11y"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "globals": {
    "chai": true,
    "sinon": true,
    "expect": true
  },
  "rules": {
    "comma-dangle": ["error", "only-multiline"],
    "indent": ["error", 2],
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-quotes": ["error", "prefer-single"],
    "no-confusing-arrow": ["error", { "allowParens": true }],
    "no-mixed-spaces-and-tabs": "error",
    "no-multiple-empty-lines": ["error", { "max": 1 }],
    "react/jsx-closing-bracket-location": [
      "error",
      { "nonEmpty": "after-props", "selfClosing": "tag-aligned" }
    ],
    "react/jsx-curly-spacing": ["error", "always"],
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "react/jsx-indent-props": ["error", 2],
    "react/jsx-indent": ["error", 2],
    "react/prefer-stateless-function": ["warn", { "ignorePureComponents": true }],
    "space-in-parens": "error",
    "react/jsx-no-bind": "warn"
  }
}
